:root {
    --color1: #FFFFFF;
    --color1-op: #EFEFEF;
    --color2: #3A7E73;
    --color2-op: rgba(58, 126, 115, 0.5);
    --color3: #2D2C2C;
    --color3-op: rgba(45, 44, 44, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--color2);
}

body::-webkit-scrollbar {
    display: none;
}