.contentscreen {
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: grid;
    grid-template-columns: auto 75%;
    grid-template-rows: 7.5% 92.5%;
    padding: 30px 99px 30px 39px;
}

.contentscreen__container {
    height: 100%;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12% 88%;
}

.contentscreen__button {
    display: flex;
    align-items: center;
}

.contentscreen__button a {
    height: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: var(--color1-op);
    transition: all 0.3s ease-out;
}

.contentscreen__button a:hover {
    opacity: 0.9;
}

.contentscreen__content {
    background-color: var(--color1-op);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}