.loginscreen {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginscreen__form {
    width: 475px;
    padding: 40px;
    background-color: var(--color1);
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.loginscreen__title {
    text-align: center;
    font-size: 36px;
    color: var(--color3);
    margin-bottom: 55px;
}

.form__error {
    width: 100%;
    padding: 10px 16px;
    text-align: center;
    background-color: darkred;
    color: var(--color1);
    margin: -30px 0 30px 0;
}

.form__group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 56px;
}

.form__group label {
    color: var(--color3);
    margin-bottom: 5px;
    font-size: 18px;
}

.form__group input {
    height: 44px;
    background: none;
    padding-left: 10px;
    border: none;
    font-size: 20px;
    border-bottom: 1.5px solid var(--color3-op);
    color: var(--color3);
    transition: all 0.3s ease-out;
}

.form__group input::placeholder {
    color: var(--color3-op);
}

.form__group input:not(:placeholder-shown), .form__group input:focus {
    border-bottom: 2px solid var(--color2);
}

.form__button {
    width: 100%;
    padding: 12px 18px;
    background: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color1);
    border: none;
    background-color: var(--color3);
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 0.3s ease-out;
}

.form__button:hover {
    box-shadow: 0px 0px 10px 0px var(--color3-op);
}

.form__span {
    color: var(--color3);
    text-align: left;
}

.form__span > a {
    color: var(--color2);
}