.registerscreen {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    margin-bottom: 40px;
}

.registerscreen__form {
    width: 500px;
    padding: 40px;
    background-color: #393E46;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.registerscreen__title {
    text-align: center;
    font-size: 2rem;
    color: #00ADB5;
    margin-bottom: 30px;
}

.form__error {
    width: 100%;
    padding: 10px 16px;
    text-align: center;
    background-color: darkred;
    color: #EEEEEE;
    margin-bottom: 30px;
}

.form__group {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form__group label {
    color: #EEEEEE;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.form__group input {
    height: 44px;
    background: none;
    padding-left: 10px;
    border: none;
    border-bottom: 1.5px solid #EEEEEE;
    color: #eee;
}

.form__group-radio {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.form__group-radio label {
    color: #EEEEEE;
    cursor: pointer;
    border: 1px solid #00ADB5;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-out;
}

.form__group-radio input {
    display: none;
}

.form__group-radio input:checked + label {
    background-color: #00ADB5;
}

.form__block {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form__select {
    height: 44px;
    background: none;
    border: none;
    border-bottom: 1.5px solid #EEEEEE;
    color: #EEEEEE;
    padding-left: 10px;
}

.form__select option:nth-child(1) {
    color: rgb(133, 133, 133);
}

.form__select option {
    background: #393E46;
}

.form__button {
    width: 100%;
    padding: 12px 18px;
    margin-top: 10px;
    background: none;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    border: none;
    background-color: #00ADB5;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
}

.form__span > a {
    color: #00ADB5;
}